@font-face {
    font-family: futura;
    src: url(../fonts/futurastd-medium-webfont.woff);
}

@font-face {
    font-family: moonphases;
    src :url(../fonts/moon_phases.woff);
}

@font-face {
    font-family: futura;
    src: url(../fonts/futurastd-mediumoblique-webfont.woff);
    font-style: italic;
}
body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/*a {
    text-decoration: underline;
}
*/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
}

p, div {
    font-family: futura, Trebuchet MS,Arial,sans-serif;
}

h1 > a {
    text-decoration: none;
}

.navbar a{
    text-decoration: none;
}

.nav-tabs {
    font-size: 16px;
}

.table-hover tbody tr:hover > td {
  cursor: pointer
}

.no-top-margin {
    margin-top: 0px;
}

.hook {
    background-color: #1C1E22;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin-top: 15px;
    padding: 0px 30px 20px 30px;
    border-radius: 5px;
}

.avatar-small {
    border-radius: 15px;
    margin: -10px 5px -10px 5px;
}

.navbar-brand {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.two-column {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

label[for=id_honeypot] {
    display: none;
}

label[for=id_comment] {
    display: none;
}

#id_honeypot {
    display: none;
}

.observation-row {
    margin: 5px;
    border: 1px solid #000;
    padding: 5px;
}

.observation-row:nth-child(2n+1){
    background-color: #353A41;
}

.observation-row:nth-child(2n){
     background-color: #2E3338;
}

.profile-image {
    border-radius: 5px;
}

.emphasize {
    font-size: 1.2em;
    font-weight: 600;
}

.no-wrap {
    white-space: nowrap;
}

.profile-tidbit {
    font-size: 1.1em;
}

.red {
    color: red;
}

.green {
    color: green;
}

#moon-info {
    padding-top: 20px;
    font-size: 18px;
}
.moon {
    font-size: 4em;
    line-height: 0.5;
    font-family: moonphases;
}







