h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
}

p > a {
    text-decoration: underline;
}

.table-hover tbody tr:hover > td {
  cursor: pointer
}

.hook {
    background-color: #1C1E22;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin-top: 15px;
    padding: 0px 30px 20px 30px;
    border-radius: 5px;

}

.avatar-small {
    border-radius: 15px;
    margin: -10px 5px -10px 5px;
}

.navbar-brand {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.two-column {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}














