h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
}

.hook {
    background-color: #1C1E22;
    border: 1px solid rgba(0, 0, 0, 0.6);
    margin-top: 30px;
    padding: 0px 30px 10px 30px;
    border-radius: 5px;

}
.navbar-brand {
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 24px;
}














