{% extends 'base.html' %}
{% load thumbnail objects_extras gravatar endless django_markdown %}
{% with object as challenge %}
{% block title %}{{ object.name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="colwrap">
            <center>
                <h1>{{ challenge.name }}</h1>
                <h3>Difficulty: {{ challenge.get_rating_display }}</h3>
                <h4>
                    {% if challenge.complete_bonus %}
                    Points: {{ challenge.complete_bonus }}
                    {% endif %}
                    {% if challenge.bonus %}
                    Object Bonus: {{ challenge.bonus }}
                    {% endif %}
                    {% if challenge.multiplier > 1 %}
                    Observation Multiplier: x{{ challenge.multiplier }}
                    {% endif %}
                </h4>
            </center>

            <p>{{ challenge.description|markdown_safe }}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="colwrap">
            <img class="img-responsive" src="{{ challenge.image|thumbnail_url:'challenge' }}"/>
        </div>
    </div>
    <div class="col-md-4">
        <div class="colwrap">
            <h3>Targets</h3>
            <hr/>
            {% if challenge.type == 'numeric' %}
                Observe
                {{ challenge.number }} {{ challenge.get_target_display }} {{ challenge.numer|pluralize }}
            {% else %}
                {% paginate 20 challenge.all_objects as objects %}
                <table class="table table-striped">
                {% for object in objects %}
                    <tr>
                    <td>
                    {% if object.image %}
                    <img class="img-responsive" src="{{ object.image|thumbnail_url:'tiny' }}">
                    {% else %}
                    <img class="img-responsive" src="{{STATIC_URL}}images/default.png">
                    {% endif %}
                    </td>

                    <td><a href="{{ object.get_absolute_url }}"><h3>{{ object }}
                    {% if user|has_observed:object %}
                    <span class="glyphicon glyphicon-ok green"></span>
                    {% endif %}
                    </h3>
                    {{object.points|add:object.bonus_points}} points </a></td>
                    </tr>
                {% endfor %}
                </table>
                {% get_pages %}
                {% include 'includes/astropagination.html' %}
            {% endif %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="colwrap">
            <h3>Users Completed</h3>
            <hr/>
            {% if challenge.completedchallenge_set.all %}
            <table class="table table-striped">
            {% paginate 20 challenge.completedchallenge_set.all as completed_challenges %}
            {% for completed_challenge in completed_challenges %}
            <tr><td width=130><img class="profile-image" src="{% gravatar_url completed_challenge.user_profile.user.email 100 %}"></td>
            <td>
            {% with completed_challenge.user_profile as user_profile %}
            <a href="{% url 'profile' user_profile.user.username %}">
            <p class="pull-right">{{ completed_challenge.date|date}}</p>
            <h3>{{ user_profile.user.username }}</h3>
            <span class="glyphicon glyphicon-star"></span>{{ user_profile.points }}<br/>
            <span class="glyphicon glyphicon-eye-open"></span> {{ user_profile.observation_set.count }}
            </a>
            {% endwith %}
            </td></tr>
            {% endfor %}
            </table>
            {% get_pages %}
            {% include 'includes/astropagination.html' %}
            {% else %}
            <p>Nobody has completed this challenge! Will you be the first?</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% endwith %}
