{% load endless %}
{% paginate 5 comment_list using "c_page" %}
{% for comment in comment_list %}
<div class="row observation-row" id="c{{ comment.id }}">
    <div class="col-sm-1">
    {% include "accounts/includes/user_info.html" with user_profile=comment.user.userprofile size=60 %}
    </div>
    <div class="col-sm-11">
        <p><em>{{ comment.submit_date }}</em></p>
        <p>{{ comment.comment }}</p>
    </div>
</div>
{% endfor %}
{% get_pages %}
{% include 'includes/astropagination.html' with url_hash='#tab_discussion' %}
