{% load endless gravatar %}
{% paginate 5 comment_list using "c_page" %}
{% for comment in comment_list %}
<div class="row observation-row" id="c{{ comment.id }}">
     <div class="col-xs-2">
        <a href="{% url 'profile' comment.user.username %}">
        <div class="col-xs-12">
            <img class="profile-image img-responsive" src="{% gravatar_url comment.user.email size=100 %}"/>
        </div>
        <div class="col-xs-12">
            {{comment.user.username}} ({{ comment.user.userprofile.points }})
        </div>
        </a>
    </div>
    <div class="col-xs-10">
        <span class="pull-right">
            {{ comment.submit_date }}
            {% if comment.user == request.user %}<br/>
            <a href="{% url 'delete-comment' comment.id %}" class="btn btn-sm btn-danger pull-right">Delete</a>
            {% endif %}
        </span>
        <p>{{ comment.comment | linebreaks }}</p>
    </div>
</div>
{% endfor %}
{% get_pages %}
{% include 'includes/astropagination.html' with url_hash='#tab_discussion' %}
