{% load endless gravatar %}
{% paginate 5 comment_list using "c_page" %}
{% for comment in comment_list %}
<div class="row observation-row" id="c{{ comment.id }}">
     <div class="col-xs-2">
        <a href="{% url 'profile' user.username %}">
        <div class="col-xs-12">
            <img class="profile-image img-responsive" src="{% gravatar_url user.email size=100 %}"/>
        </div>
        <div class="col-xs-12">
            {{user.username}} ({{ user.userprofile.points }})
        </div>
        </a>
    </div>
    <div class="col-xs-10">
        <span class="pull-right">{{ comment.submit_date }}</span>
        <p>{{ comment.comment | linebreaks }}</p>
    </div>
</div>
{% endfor %}
{% get_pages %}
{% include 'includes/astropagination.html' with url_hash='#tab_discussion' %}
