{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<h2>Yesss! Your account is activated.</h2>
<p>
    <a href="{% url 'index' %}">
    <button class="btn btn-success btn-lg">Continue to AstroChallenge</button>
    {% if not user.is_authenticated %}
        <p>You can now <a href="{% url 'auth_login' %}">Login</a></p>
    {% endif %}
</p>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
