{% extends "registration/registration_base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class="row">
<div class="col-md-6">
<h2>Change Password</h2>
<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">Change Password</button>
    {% endbuttons %}
</form>
</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
