{% extends "registration/registration_base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{% trans "Register for an account" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to Astro Challenge!</h2>
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
