{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %} Contact {% endblock %}
{% block content %}
<div class="colwrap">
    <div class="row">
        <div class="col-md-12">
            <h2>Hey! What do you think about AstroChallenge? Or maybe you have a question?</h2>
            <p>Fill out your contact email and your comment below, and we'll get back to you as soon as we can!</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form method="POST" action="">
            {% csrf_token %}
            <span class="col-md-4">
            {% bootstrap_field form.email %}
            </span>
            <span class="col-md-12">
            {% bootstrap_field form.feedback %}
            </span>
            <span class="col-md-2">
            {% bootstrap_field form.captcha %}
            </span>
            <span class="col-md-12">
            {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}
            </span>
            </form>
        </div>
    </div>
</div>
{% endblock %}
