{% extends 'base.html' %}
{% block content %}
{% if not user.is_authenticated %}
<div class="hook">
    <h1>Welcome to the Astro Challenge!</h1>
    <p>The <b>Astro Challenge</b> is an online community of amateur
    astronomers challenging themselves in the field of observational
    astronomy. Users can browse the database of astronomical objects
    and events, keep track of their observations and earn points. There are monthly
    observation challenges, special awards for sketching and photography
    and even prizes!</p>
    <a href="{% url 'auth_login' %}"><button class="btn btn-primary">Login</button></a>
    <a href="{% url 'registration_register' %}"><button class="btn btn-info">Register</button></a>
</div>
{% endif %}
<div class="row">
    <span class="col-md-12">
        <h1>Latest Observations</h1>
    </span>
</div>
{% endblock %}
