{% extends 'base.html' %}
{% load tz bootstrap3 endless gravatar%}
{% block title %}Home{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
<div class="hook">
    <h1>Welcome to the Astro Challenge!</h1>
    <p>The <b>Astro Challenge</b> is an online community of amateur
    astronomers challenging themselves in the field of observational
    astronomy. Users can browse the database of astronomical objects
    and events, keep track of their observations and earn points. There are monthly
    observation challenges and special awards for sketching and photography.</p>
    <a href="{% url 'auth_login' %}"><button class="btn btn-primary">Login</button></a>
    <a href="{% url 'registration_register' %}"><button class="btn btn-info">Register</button></a>
</div>
{% endif %}
<div class="row">
    <div class="col-md-2">
    {% if user.is_authenticated %}
        <div id="sunset-info">
            <center>
            <img src="{{STATIC_URL}}/images/sunset.svg" id="sunset" class="img-responsive"/>
            <b>{{user.userprofile.sunset|date:"P"}}</b>
            </center>
        </div>
        {% endif %}
        <div id="moon-info">
            <center><span class="moon">{{moon_letter}}</span> <br/><b>{{ moon_percentage | floatformat:"0" }}%</b> <br/>{{moon_name}} </center>
        </div>
    </div>
    <div class="col-md-7">
        <h1>Latest Observations</h1>
        {% paginate 10 observations using "ob_page" %}
        {% for observation in observations %}
        <div class="row observation-row">
            <div class="col-sm-2">
                {% if observation.content_object.image %}
                    <img class="img-responsive" src="{{observation.content_object.image.url}}"/>
                {% else %}
                <img class="img-responsive" src="{{STATIC_URL}}images/default.png">
                {% endif %}
            </div>
            <div class="col-sm-10">
                <span class="pull-right user-data">
                    <p><a href="{{ observation.get_absolute_url }}#tab_observations">{{ observation.date|date:"SHORT_DATETIME_FORMAT" }}</a></p>
                    <a href="{% url 'profile' observation.user_profile.user.username %}">
                    <p><img class="profile-image" src="{% gravatar_url observation.user_profile.user.email 60 %}"><br/>
                    {{ observation.user_profile.user.username }} ({{ observation.user_profile.points }})</p>
                    </a>
                </span>
                <span class="emphasize"><a href="{{ observation.get_absolute_url }}#tab_observations">{{ observation.name }}</a></span>
                </p>
                <p>Points earned: {{ observation.points_earned }}</p>
                <p>{{ observation.description | linebreaks | truncatewords:200}}</p>
            </div>
        </div>
        {% endfor %}
        {% get_pages %}
        {% include 'includes/astropagination.html' with url_hash='#tab_observations' %}
    </div>
    <div class="col-md-3">
        <div class="row">
        <div class="col-md-12">
        <h3>Recent Comments</h3>
        {% for comment in comments %}
        <div id="c{{ comment.id }}">
            <div class="comment-author">
                <a href="{% url 'profile' comment.user.username %}">
                <img class="profile-image" src="{% gravatar_url comment.user.email 40 %}">
                <span class="pull-right">{{ comment.submit_date|date:"j M" }}</span>
                <span class="comment-author-username">{{comment.user.username}}</span>
                </a>
                <br/>
                <a href="{{comment.content_object.get_absolute_url}}#tab_discussion"<span class="comment-target">{{comment.content_object}}</span></a>
            </div>
            <div class="comment">
                <p>{{ comment.comment|truncatewords:50}}</p>
            </div>
        </div>
        {% endfor %}
            </div>
        </div>
        <div class="row">
        <div claass="col-md-12">
        <h3>Twitter</h3>
         <a class="twitter-timeline" data-chrome="nofooter noheader transparent noscrollbar noborders" data-tweet-limit="4" href="https://twitter.com/astrochallenger" data-widget-id="571916701059411968">Tweets by @astrochallenger</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
         </script>
         </div>
         </div>
     </div>
</div>
{% endblock %}
