{% extends 'base.html' %}
{% load gravatar %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr><td>Name</td><td>{{member.first_name}} {{member.last_name}}</td></tr>
                <tr><td>Location</td><td>{{member.userprofile.location}}</td></tr>
                <tr><td>Timezone</td><td>{{member.userprofile.timezone}}</td></tr>
                <tr><td>Latitude</td><td>{{member.userprofile.lat}}</td></tr>
                <tr><td>Longitude</td><td>{{member.userprofile.lng}}</td></tr>
                <tr><td colspan="2">{{member.userprofile.profile_text | linebreaks}}</td></tr>
            </table>
        </div>
        <div class="col-md-6">
            {% include "accounts/includes/user_info.html" with user_profile=member.userprofile size=150 %}
        </div>
    </div>
{% endblock %}
