{% extends 'base.html' %}
{% load gravatar %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <table class="table">
                <tr><td>Name</td><td>{{user.first_name}} {{user.last_name}}</td></tr>
                <tr><td>Location</td><td>{{user.userprofile.location}}</td></tr>
                <tr><td>Timezone</td><td>{{user.userprofile.timezone}}</td></tr>
                <tr><td>Latitude</td><td>{{user.userprofile.lat}}</td></tr>
                <tr><td>Longitude</td><td>{{user.userprofile.lng}}</td></tr>
                <tr><td colspan="2">{{user.userprofile.profile_text}}</td></tr>
            </table>
        </div>
        <div class="col-md-6">
                <p>{% gravatar user.email 150 %}</p>
                <p><a href="{% gravatar_profile_url user.email %}">Change your avatar</a>
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Gravatar is a service that displays an image that is linked to your email address. Many sites use Gravatar so you only have to set your image once!"></span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'edit_profile' %}"><button class="btn btn-info">Edit profile</button></a>
            <a href="{% url 'auth_password_change' %}"><button class="btn btn-danger">Change password</button></a>
        </div>
    </div>
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
{% endblock %}
