{% extends 'base.html' %}
{% load gravatar endless thumbnail django_markdown %}
{% block title %}
{{ member.username }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="colwrap">
                <h2>{{ member.username }}</h2>
                <p>{% gravatar member.email 150 %}</p>
                {% if member == user %}
                <p><a href="{% gravatar_profile_url member.email %}">Change your avatar</a>
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Gravatar is a service that displays an image that is linked to your email address. Many sites use Gravatar so you only have to set your image once!"></span></p>
                {% endif %}
                <h4>Points: {{ member.userprofile.points }}</h4>
                <h4>Observations: {{ member.userprofile.observation_set.all|length }}
                </h4>
                {% if member == user %}
                <a href="{% url 'edit-profile' %}"><button class="btn btn-default">Edit profile</button></a>
                <a href="{% url 'auth_password_change' %}"><button class="btn btn-danger">Change password</button></a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-9">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Profile</a></li>
                <li role="presentation"><a href="#observations" aria-controls="observations" role="tab" data-toggle="tab">Observation Log ({{ member.userprofile.observation_set.count }})</a></li>
                <li role="presentation"><a href="#challenges" aria-controls="challenges" role="tab" data-toggle="tab">Trophy Case ({{ member.userprofile.completedchallenge_set.count }})</a></li>
                <li role="presentation"><a href="#equipment" aria-controls="equipment" role="tab" data-toggle="tab">Equipment</a></li>
            </ul>
            <div class="colwrap">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="info">
                        <table class="table">
                            <tr><td>Name</td><td>{{member.first_name}} {{member.last_name}}</td></tr>
                            <tr><td>Location</td><td>{{member.userprofile.location}}</td></tr>
                            <tr><td>Timezone</td><td>{{member.userprofile.timezone}}</td></tr>
                            <tr><td>Latitude</td><td>{{member.userprofile.lat}}</td></tr>
                            <tr><td>Longitude</td><td>{{member.userprofile.lng}}</td></tr>
                            <tr><td>Altitude</td><td>{{member.userprofile.elevation}}m</td></tr>
                            <tr><td colspan="2">{{member.userprofile.profile_text | linebreaks }}</td></tr>
                        </table>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="observations">
                        {% with observations=member.userprofile.observation_set.all %}
                        {% paginate 5 observations using "ob_page" %}
                        {% for observation in observations %}
                        <div class="row observation-row">
                            <div class="col-xs-2">
                                <a href="{{observation.content_object.get_absolute_url}}">
                                <div class="col-xs-12">
                                    {% if observation.content_object.image %}
                                    <img class="img-responsive" src="{{observation.content_object.image|thumbnail_url:'log'}}"/>
                                    {% else %}
                                    <img class="img-responsive" src="{{STATIC_URL}}images/default.png">
                                    {% endif %}
                                </div>
                                </a>
                            </div>
                            <div class="col-xs-10">
                                <a href="{{observation.content_object.get_absolute_url}}">
                                    <span class="emphasize">{{ observation.content_object }}</span>
                                </a>
                                <span class="pull-right">
                                <a href="{{ observation.get_absolute_url }}">{{ observation.date }}</a>
                                {% if observation.user_profile == user.userprofile %}
                                    <a href="{% url 'delete-observation' observation.id %}">Delete</a>
                                {% endif %}
                                </span>
                                <p>Observed with: {{ observation.equipment }}</p>
                                <div class="markdown-text">
                                    {{ observation.description | markdown_safe }}
                                </div>
                                <!-- </blockquote> -->
                            </div>
                        </div>
                        {% endfor %}
                        {% get_pages %}
                        {% include 'includes/astropagination.html' with url_hash='#tab_observations' %}
                        {% endwith %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="challenges">

                        {% paginate 9 challenges using "ch_page" %}
                        {% include "challenges/includes/challenge_list.html" with challenges=challenges %}
                        {% get_pages %}
                        {% include 'includes/astropagination.html' with url_hash='#tab_challenges' %}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="equipment">
                        <table class="table">
                            <thead><tr><td>Instrument</td><td>Observations</td></tr></thead>
                            <tbody>
                                {% for eq in member.userprofile.equipment_set.all %}
                                <tr>
                                    <td>{{ eq.instrument }}</td>
                                    <td>{{ eq.observation_count }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
// Javascript to enable link to tab
var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
}

// Change hash for page-reload
$('.nav-tabs a').on('click', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});

</script>
<script type="text/javascript">
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
{% endblock %}
