{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{% trans "Edit profile" %}{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
<script src="{{STATIC_URL}}js/vendor/locationpicker.jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        lat = 37;
        lng = -122;
        $('#locationModal').on('shown.bs.modal', function(e){
            $('#locationpicker').locationpicker({
            location: {latitude: lat, longitude: lng},
            radius: 0,
            zoom: 6,
            inputBinding: {
                latitudeInput: $('#id_lat, #lat'),
                longitudeInput: $('#id_lng, #lng'),
            }
            });
        })
    })
</script>
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-6">
        <div class="colwrap">
                <h2>Edit Profile</h2>
        <p>
            Please fill out the following fields to complete your profile.
        </p>
        <ul>
            <li>Timezone: Used to determine your local time</li>
            <li>Latitude/Longitude: Used to determine your location on earth
            </li>
        </ul>
        <p>Combined, this data determines which objects are visible to you
        in the night sky!</p>
        <h3>Equipment</h3>
        <ul>
        {% for eq in user.userprofile.equipment_set.all %}
        <li>{{ eq }} <span class="red"><a href="{% url 'delete-equipment' eq.pk %}">[delete]</a></span></li>
        {% endfor %}
        </ul>
        <form method="post" action="{% url 'add-equipment' %}">
        {% csrf_token %}
        {% bootstrap_form equipment_form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Add instrument</button>
        {% endbuttons %}
        </form>
        </div>
    </div>
    <div class="col-md-6">
    <div class="colwrap">
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        <hr/>
        <p><button type="button" data-toggle="modal" data-target="#locationModal" class="btn btn-primary"><span class="glyphicon glyphicon-screenshot"></span> Select Latitude/Longitude</button></p>
        {% bootstrap_form profile_form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>
    </div>
    </div>
    </div>
    <div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="locationModalLabel">Drag the marker to choose your latitude/longitude</h4>
          </div>
          <div class="modal-body">
            <div id="locationpicker" style="width: 500px; height: 400px;"></div>
            Latitude: <input type="text" id="lat"/> Longitude <input type="text" id="lng"/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
