{% extends "base.html" %}
{% load i18n bootstrap3 %}

{% block title %}{% trans "Edit profile" %}{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-6">
        <div class="colwrap">
                <h2>Edit Profile</h2>
        <p>
            Please fill out the following fields to complete your profile.
        </p>
        <ul>
            <li>Timezone: Used to determine your local time</li>
            <li>Latitude/Longitude: Used to determine your location on earth
            </li>
        </ul>
        <p><a target="_blank" href="http://www.latlong.net/">Find your Latitude/Longitude</a></p>
        <p>Combined, this data determines which objects are visible to you
        in the night sky!</p>
    </div>
    </div>
    <div class="col-md-6">
    <div class="colwrap">
    <form method="post" action="">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        <hr/>
        {% bootstrap_form profile_form %}
        {% buttons %}
        <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </form>
    </div>
    </div>
    </div>
{% endblock %}
