{% load bootstrap3 %}
<h4>Generate a finder chart</h4>
<p>The following form will generate a PDF finder chart suitable for printing using to locate objects in the sky with your telescope!</p>
<p>The larger the field of view, the more "zoomed out" the object will appear. It can be helpful to print several charts of the same
object with different field of views.</p>
<p>Limiting the magnitude (remember, lower magnitude means brighter!) of stars and objects can make sure your chart is not cluttered with
dim objects that you may not be visible to you anyway. The defaults are good, but try experimenting with raising and lowering the values.</p>

<div id="finder-form">
<form action="{% url 'post-finderchart' %}" method="post">
    {% csrf_token %}
    {{ finder_chart_form.content_type }}
    {{ finder_chart_form.object_id }}
    <span class="col-sm-4">
    {% bootstrap_field finder_chart_form.field_of_view %}
    </span>
    <span class="col-sm-4">
    {% bootstrap_field finder_chart_form.limiting_magnitude_stars %}
    </span>
    <span class="col-sm-4">
    {% bootstrap_field finder_chart_form.limiting_magnitude_deepsky %}
    </span>
    {% buttons %}
     <button class="btn btn-primary col-xs-12" type="submit" name="submit" value="Post">Generate Chart</button>
    {% endbuttons %}
</form>
</div>
