{% load gravatar endless %}
{% paginate 5 observations using "ob_page" %}
{% for observation in observations %}
<div class="row observation-row">
    <div class="col-xs-2">
        <a href="{% url 'profile' observation.user_profile.user.username %}">
        <div class="col-xs-12">
            <img class="profile-image img-responsive" src="{% gravatar_url observation.user_profile.user.email size=100 %}"/>
        </div>
        <div class="col-xs-12">
            {{observation.user_profile.user.username}} ({{ observation.user_profile.points }})
        </div>
        </a>
    </div>
    <div class="col-xs-10">
        <span class="pull-right">{{ observation.date }}
        {% if observation.user_profile == user.userprofile %}
            <a href="{% url 'delete-observation' observation.id %}">Delete</a>
        {% endif %}
        </span>
        <p>Points earned: {{ observation.points_earned }}</p>
        <!-- <blockquote> -->
            <p>{{ observation.description | linebreaks }}</p>
        <!-- </blockquote> -->
    </div>
</div>
{% endfor %}
{% get_pages %}
{% include 'includes/astropagination.html' with url_hash='#tab_observations' %}
