{% load gravatar endless django_markdown %}
{% paginate 5 observations using "ob_page" %}
{% for observation in observations %}
<div class="row observation-row">
    <div class="col-sm-2">
        <a href="{% url 'profile' observation.user_profile.user.username %}">
            <img class="profile-image img-responsive" src="{% gravatar_url observation.user_profile.user.email size=100 %}"/>

            {{observation.user_profile.user.username}} ({{ observation.user_profile.points }})
        </a>
    </div>
    <div class="col-sm-10">
        {% include 'objects/includes/observation_header.html' %}
        <div class="observation-body">
            <p>
                <div class="markdown-text">
                    {{ observation.description | markdown_safe }}
                </div>
            </p>
        </div>
    </div>
</div>
{% endfor %}
{% get_pages %}
{% include 'includes/astropagination.html' with url_hash='#tab_observations' %}
