{% load bootstrap3 objects_extras django_markdown %}
{% block extra_javascript %}
{% markdown_media %}
{% endblock %}
{% if user|has_observed:object %}
{% with user|first_observation:object as first_observation %}
<h4>
Observed: <span class="glyphicon glyphicon-ok green"></span>
&nbsp;Points Earned: {{ first_observation.points_earned }}
</h4>
<p>You first observed this object on {{ first_observation.date }}</p>
{% endwith %}
{% else %}
<p><h4>
Observed: <span class="glyphicon glyphicon-remove red"></span>
&nbsp;Points: {{ object.points }}
</h4></p>
{% endif %}
{% if user.is_authenticated %}
<button class="btn btn-success form-control" id="make-observation" data-toggle="modal" data-target="#observation-modal">Log Observation</button>
<div class="modal fade" id="observation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log Observation</h4>
      </div>
      <div class="modal-body">
        <div id="observation-form">
        {% if user|has_observed:object %}
        <p>Note: You have already observed this object, so you will not receieve additional points for more observations.</p>
        {% endif %}
        <p>Provide the time and most accurate location possible for this observation. In your description detail how difficult it was to find the object,
        what equipment you used, what the object looked like, etc.</p>
        <form method="post" action="{% url 'post-observation' %}">
            {% csrf_token %}
            {{observation_form.content_type}}
            {{observation_form.object_id}}
            <span class="col-xs-12">
            {% bootstrap_field observation_form.date %}
            </span>
            <span class="col-xs-6">
            {% bootstrap_field observation_form.lng %}
            </span>
            <span class="col-xs-6">
            {% bootstrap_field observation_form.lat %}
            </span>
            <span class="col-xs-12">
            {% bootstrap_field observation_form.description %}
            </span>
            {% buttons %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit">Submit</button>
            <input type="hidden" name="next" value="{% url next_target object.pk %}#tab_observations"/>
            {% endbuttons %}
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<p>Please <a href="{% url 'auth_login' %}">login</a> to record an observation of this object.</p>
{% endif %}
