{% load bootstrap3 objects_extras django_markdown %}
{% block extra_javascript %}
<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
<script src="{{STATIC_URL}}js/vendor/locationpicker.jquery.min.js"></script>
{% if error %}
<script type="text/javascript">
$(document).ready(function(){
    $('#observation-modal').modal({'show': true});
});
</script>
{% endif %}
<script type="text/javascript">
    $(document).ready(function(){
        lat = $("#id_lat").val();
        lng = $("#id_lng").val();
        $('#locationModal').on('shown.bs.modal', function(e){
            $('#locationpicker').locationpicker({
            location: {latitude: lat, longitude: lng},
            radius: 0,
            zoom: 10,
            inputBinding: {
                latitudeInput: $('#id_lat, #lat'),
                longitudeInput: $('#id_lng, #lng'),
            }
            });
        })
    })
</script>
{{ observation_form.media }}
{% markdown_media %}
{% endblock %}
{% if user|has_observed:object %}
    {% with user|first_observation:object as first_observation %}
    <h4>
    Observed: <span class="glyphicon glyphicon-ok green"></span>
    &nbsp;Points Earned: {{ first_observation.points_earned }}
    </h4>
    <p>You first observed this object on <a href="{{ first_observation.get_absolute_url }}">{{ first_observation.date }}</a></p>
    {% endwith %}
{% else %}
    <p><h4>
    Observed: <span class="glyphicon glyphicon-remove red"></span>
    &nbsp;Points: {{ object.points }}
    </h4></p>
    {% if object.challenge_set.all %}
        {% if object.bonus_points %}
            <p>Bonus points: {{ object.bonus_points }}</p>
        {% endif %}
        <p>Available Challenges:</p>
        <ul>
        {% for challenge in object.challenge_set.all %}
            {% if challenge.current %}
            <li><a href="{{ challenge.get_absolute_url }}">{{ challenge }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
{% endif %}
{% if user.is_authenticated %}
<button class="btn btn-success form-control" id="make-observation" data-toggle="modal" data-target="#observation-modal">Log Observation</button>
<div class="modal fade" id="observation-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Log Observation</h4>
      </div>
      <div class="modal-body">
        <div id="observation-form">
        {% if user|has_observed:object %}
        <p>Note: You have already observed this object, so you will not receieve additional points for more observations.</p>
        {% endif %}
        <p>Provide the time and most accurate location possible for this observation. In your description detail how difficult it was to find the object,
        what equipment you used, what the object looked like, etc.</p>
        <form method="post" action="{% url 'post-observation' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{observation_form.content_type}}
            {{observation_form.object_id}}
            <span class="col-xs-6">
            {% bootstrap_field observation_form.date %}
            </span>
            <span class="col-xs-3">
            {% bootstrap_field observation_form.lng %}
            </span>
            <span class="col-xs-3">
            {% bootstrap_field observation_form.lat %}
            <button type="button" data-toggle="modal" data-target="#locationModal" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-screenshot"></span> Choose location</button>
            </span>
            <span class="col-xs-12">
            {% bootstrap_field observation_form.equipment %}
            <a href="{% url 'edit-profile' %}"><span class="pull-right">Add equipment</span></a>
            </span>
            <span class="col-xs-6">
            {% bootstrap_field observation_form.seeing %}
            </span>
            <span class="col-xs-6">
            {% bootstrap_field observation_form.light_pollution %}
            </span>
            <span class="col-xs-6">
            {% bootstrap_field observation_form.image %}
            </span>
            <span class="col-xs-6">
            {% bootstrap_field observation_form.featured %}
            </span>
            <span class="col-xs-12">
            {% bootstrap_field observation_form.description %}
            </span>
            {% buttons %}
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" type="submit">Submit</button>
            <input type="hidden" name="next" value="{% url next_target object.pk %}#tab_observations"/>
            {% endbuttons %}
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="locationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="locationModalLabel">Drag the marker to choose your latitude/longitude</h4>
      </div>
      <div class="modal-body">
        <div id="locationpicker" style="width: 500px; height: 400px;"></div>
        Latitude: <input type="text" id="lat"/> Longitude <input type="text" id="lng"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
{% else %}
<a href="{% url 'auth_login' %}"><button class="btn btn-success form-control">Log Observation</button></a>
{% endif %}
