{% extends 'base.html' %}
{% load comments bootstrap3 humanize objects_extras %}
{% block title %} {{ object }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <h1 class="no-top-margin">{{ object }}</h1>
        {% if object.image %}
        <a href="{{ object.image.url }}" alt="{{ object }}"><img src="{{ object.image.url }}" class="img-responsive"></a>
        {% endif %}
        <br/>
        {% include "objects/includes/observation_form.html" with observation_form=observation_form %}
    </div>
    <div class="col-md-9">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
            <li role="presentation"><a href="#observations" aria-controls="observations" role="tab" data-toggle="tab">Observations ({{ object.observations.all | length }})</a></li>
            {% get_comment_count for object as comment_count %}
            <li role="presentation"><a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">Discussion ({{ comment_count }})</a></li>
          </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="info">
        <table class="table">
            <tr><td>Type</td><td>{{ object.type }}</td></tr>
            <tr><td>Constellation</td><td><a href="{% url 'constellation-detail' object.constellation.abbreviation %}">{{ object.constellation.latin_name }}</a></td></tr>
            <tr><td>Right ascension</td><td>{{ object.ra_hours | floatformat:"-3" }}<sup>h</sup>{{ object.ra_minutes | floatformat:"-3" }}<sup>m</sup></td></tr>
            <tr><td>Declination</td><td><sup>{{ object.dec_sign }}</sup>{{ object.dec_deg }}&deg;{{ object.dec_min | floatformat:"-3" }}'</td></tr>
            {% if object.magnitude < 1000 %}
            <tr><td>Magnitude</td><td>{{ object.magnitude | floatformat:"-3" }}</td></tr>
            {% endif %}
            {% if object.distance %}
            <tr><td>Distance</td><td>{{ object.distance | floatformat:"-3" | intcomma }}ly</td></tr>
            {% endif %}
            {% if object.size %}
            <tr><td>Size</td><td>{{ object.size | floatformat:"-3" }} arc min</td></tr>
            {% endif %}
            <tr>
            <td>Catalog Designations</td>
            <td>
            {% for catalog_object in object.catalogobject_set.all %}
                {{catalog_object.catalog}}{{catalog_object.designation}}
            {% endfor %}
            </td>
            </tr>

            {% if object.description %}
            <tr><td colspan="2">{{ object.description }}</td></tr>
            {% endif %}
        </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="observations">
            {% include "objects/includes/observation_list.html" with observations=object.observations.all %}
        </div>
        <div role="tabpanel" class="tab-pane" id="discussion">
            {% render_comment_list for object %}
            {% if user.is_authenticated %}
            {% get_comment_form for object as form %}
              <form action="{% comment_form_target %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button class="btn btn-default" type="submit" name="submit" value="Post">Post</button>
                <input type="hidden" name="next" value="{% url 'astroobject-detail' object.pk %}#tab_discussion" />
                {% endbuttons %}
              </form>
            {% else %}
            <p> Please login to post comments</p>
            {% endif %}
        </div>
      </div>
    </div>
</div>

{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
// Javascript to enable link to tab
var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
}

// Change hash for page-reload
$('.nav-tabs a').on('shown', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});
$("#make-observation").click(function(){
    $(this).hide();
    $("#observation-form").slideDown();
});
</script>
{% endblock %}
