{% extends 'base.html' %}
{% load static %}
{% block title %} Deep Space Objects {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% get_static_prefix %}css/dataTables.bootstrap.css"/>
{% endblock %}
{% block content %}
<h1>{{ catalog }} Deep Space Objects</h1>
<table class="table table-striped table-hover" id="table">
    <thead>
        <tr>
            <td>Name</td><td>Constellation</td><td>Type</td><td>Magnitude</td><td>Points</td>
        </tr>
    </thead>
    <tbody>
{% for astroobject in object_list %}
    <tr href="{% url 'astroobject-detail' astroobject.pk %}">
        <td>{{ astroobject }}</td>
        <td>{{ astroobject.constellation }}</td>
        <td>{{ astroobject.type }}</td>
        <td>{{ astroobject.magnitude }}</td>
        <td>{{ astroobject.points }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
{% block extra_javascript %}
<script src="{% get_static_prefix %}js/vendor/jquery.dataTables.min.js"></script>
<script src="{% get_static_prefix %}js/vendor/dataTables.bootstrap.js"></script>
<script type="text/javascript">
    $("#table").DataTable({
        'lengthChange': false
    });
    $('#table').on('click', 'tbody tr', function(){
        window.location.href = $(this).attr('href');
    });
</script>
{% endblock %}
