{% extends 'base.html' %}
{% load objects_extras %}
{% block title %} {{ object.latin_name }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4">
    <div class="colwrap">
        <h1>{{ object.latin_name }}</h1>
        <table class="table">
        <tr><td>Abbreviation</td><td>{{ object.abbreviation }}</td></tr>
        <tr><td>Translation</td><td>{{ object.english_name }}</td></tr>
        </table>
        <ul class="two-column">
        {% for dso in object.astroobject_set.all %}
            <li><a href="{% url 'astroobject-detail' pk=dso.pk %}">{{ dso.common_name }}
            {% if user|has_observed:dso %}
                <span class="glyphicon glyphicon-ok green"></span>
            {% endif %}
            </a></li>
        {% endfor %}
        </ul>
        </div>
    </div>
    <div class="col-md-8">
        <div class="colwrap">
        <a href="{{ object.image.url }}" alt="{{ object.latin_name }}"><img src="{{ object.image.url }}" class="img-responsive"></a>
        </div>
    </div>
</div>

{% endblock %}
