{% extends 'base.html' %}
{% load gravatar thumbnail django_markdown comments bootstrap3 django_markdown %}
{% block title %}{{ object.user_profile.user.username }} - {{ observation.date }} - {{ observation.content_object }} {% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/rrssb.css" />
<meta property="og:url" content="http://astrochallenge.com/{{ request.path }}" />
<meta property="og:title" content="{{ observation }}">
<meta property="og:description" content="{{ observation.description|truncatechars:500 }}"/>
<meta property="og:site_name" content="AstroChallenge" />
<meta property="og:image" content="http://astrochallenge.com{{ object.content_object.image.url }}" />

{% endblock %}
{% block content %}
{% with object.content_object as target %}
<div class="row observation-detail">
    <div class="col-md-3">
        <div class="colwrap">
            <div class="row">
                <a href="{% url 'profile' observation.user_profile.user.username %}">
                <center><h4>{{ observation.user_profile.user.username }}</h4></center>
                <div class="col-xs-6">
                    <img class="img-responsive" src="{% gravatar_url observation.user_profile.user.email 200 %}">
                </div>
                <div class="col-xs-6">
                    <ul>
                    <li>{{ observation.date|date:"SHORT_DATE_FORMAT" }}</li>
                    <li>{{ observation.date|date:"P" }}</li>
                    <li>{{ observation.points_earned }} points</li>
                    <li><a href="https://www.openstreetmap.org/?mlat={{observation.lat}}&mlon={{observation.lng}}" target="_blank"><span class="glyphicon glyphicon-map-marker"></span> view</a></li>
                    </ul>
                </div>
                </a>
            </div>
            <div clas="row">
                <a href="{{ target.get_absolute_url }}"><center><h4>{{ target }}</h4></center>
                <img src="{{ target.image|thumbnail_url:'detail'}}" alt="{{ target.name }}" class="img-responsive" style="margin-bottom: 10px;">
                </a>
                            <div>
                <ul>
                <li>Observed with: {{ observation.equipment|default:'Not specified' }}</li>
                <li>Seeing: {{ observation.get_seeing_display }}</li>
                <li>Light pollution: {{ observation.get_light_pollution_display }}</li>
                </ul>
                {% include 'accounts/includes/sharing.html' %}
            </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#observation" aria-controls="observation" role="tab" data-toggle="tab">Observation</a></li>
            {% get_comment_count for object as comment_count %}
            <li role="presentation"><a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">Discussion ({{ comment_count }})</a></li>
            {% if observation.user_profile.user == user %}
            <li role="presentation"><a href="#edit" aria-controls="edit" role="tab" data-toggle="tab">Edit</a></li>
            <a class="pull-right" href="{% url 'delete-observation' observation.id %}"><button class="btn btn-danger">Delete Observation</button></a>
            {% endif %}
          </ul>
        <div class="colwrap">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="observation">
                    <div class="markdown-text">
                    {{ observation.description|markdown_safe }}
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="discussion">
                    {% render_comment_list for object %}
                    {% if user.is_authenticated %}
                    {% get_comment_form for object as form %}
                    <div id="comment-form-div">
                      <form action="{% comment_form_target %}" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                        <button class="btn btn-default" type="submit" name="submit" value="Post">Post</button>
                        <input type="hidden" name="next" value="{% url 'observation-detail' observation.pk %}#tab_discussion" />
                        {% endbuttons %}
                      </form>
                    </div>
                    {% else %}
                    <p> Please login to post comments</p>
                    {% endif %}
                </div>
                {% if observation.user_profile == user.userprofile %}
                <div role="tabpanel" class="tab-pane" id="edit">
                    <form method="post" action="{% url 'edit-observation' observation.id %}">
                        {% csrf_token %}
                        {{observation_form.content_type}}
                        {{observation_form.object_id}}
                        <span class="col-xs-6">
                        {% bootstrap_field observation_form.date %}
                        </span>
                        <span class="col-xs-3">
                        {% bootstrap_field observation_form.lng %}
                        </span>
                        <span class="col-xs-3">
                        {% bootstrap_field observation_form.lat %}
                        </span>
                        <span class="col-xs-12">
                        {% bootstrap_field observation_form.equipment %}
                        <a href="{% url 'edit-profile' %}"><span class="pull-right">Add equipment</span></a>
                        </span>
                        <span class="col-xs-6">
                        {% bootstrap_field observation_form.seeing %}
                        </span>
                        <span class="col-xs-6">
                        {% bootstrap_field observation_form.light_pollution %}
                        </span>
                        <span class="col-xs-12">
                        {% bootstrap_field observation_form.description %}
                        </span>
                        {% buttons %}
                        <button class="btn btn-primary" type="submit">Submit</button>
                        <input type="hidden" name="next" value="{% url 'observation-detail' observation_form.instance.pk %}#tab_observations"/>
                        {% endbuttons %}
                    </form>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" src="{{STATIC_URL}}/js/tabpage.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/js/vendor/rrssb.min.js"></script>
{{ observation_form.media }}
{% markdown_media %}
{% endblock %}
