{% extends 'base.html' %}
{% load static %}
{% block title %} Solar System {% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% get_static_prefix %}css/dataTables.bootstrap.css">
{% endblock %}
{% block content %}
<table class="table table-striped table-hover" id="table">
    <thead>
        <tr>
            <td>Name</td><td>Type</td><td>Mass</td><td>Orbits</td>
        </tr>
    </thead>
    <tbody>
{% for solar_system_object in object_list %}
    <tr href="">
        <td>{{ solar_system_object.name }}</td>
        <td>{{ solar_system_object.get_type_display }}</td>
        <td>{{ solar_system_object.mass }} {{ solar_system_object.get_mass_unit_display}}</td>
        <td>{{ solar_system_object.parent|default:""}}</td>
    </tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
{% block extra_javascript %}
<script src="{% get_static_prefix %}js/vendor/jquery.dataTables.min.js"></script>
<script src="{% get_static_prefix %}js/vendor/dataTables.bootstrap.js"></script>
<script type="text/javascript">
    $("#table").DataTable({
        'lengthChange': false
    });
    $('#table').on('click', 'tbody tr', function(){
        window.location.href = $(this).attr('href');
    })
</script>
{% endblock %}
