{% extends 'base.html' %}
{% load comments bootstrap3 humanize objects_extras %}
{% block title %} {{ object }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <h1 class="no-top-margin">{{ object }}</h1>
        {% if object.image %}
        <a href="{{ object.image.url }}" alt="{{ object }}"><img src="{{ object.image.url }}" class="img-responsive"></a>
        {% endif %}
        {% if user|has_observed:object %}
        {% with user|first_observation:object as first_observation %}
        <h4>
        Observed: <span class="glyphicon glyphicon-ok green"></span>
        &nbsp;Points Earned: {{ first_observation.points_earned }}
        </h4>
        <p>You first observed this object on: {{ first_observation.date }}
        {% endwith %}
        {% else %}
        <p><h4>
        Observed: <span class="glyphicon glyphicon-remove red"></span>
        &nbsp;Points: {{ object.points }}
        </h4></p>
        {% endif %}
        {% include "objects/includes/observation_form.html" with observation_form=observation_form next_target='solarsystemobject-detail' %}
    </div>
    <div class="col-md-9">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">Info</a></li>
            <li role="presentation"><a href="#finder" aria-controls="finder" role="tab" data-toggle="tab">Finder Chart</a></li>
            <li role="presentation"><a href="#observations" aria-controls="observations" role="tab" data-toggle="tab">Observations ({{ object.observations.all | length }})</a></li>
            {% get_comment_count for object as comment_count %}
            <li role="presentation"><a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">Discussion ({{ comment_count }})</a></li>
          </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="info">
        <h4>Current Info for {{user.username|default:"Observer"}}</h4>
        <p> as of {% now 'SHORT_DATETIME_FORMAT' %}</p>
        {% if user.is_authenticated %}
        <table class="table">
            <tr><td>Up</td><td>
            {% if current_info.up %}
            <span class="green"><b>Yes</b></span>
            {% else %}
            <span class="red"><b>No</b></span>
            {% endif %}
            </td></tr>
            <tr><td>Az</td><td>{{current_info.az}}</td></tr>
            <tr><td>Alt</td><td>{{current_info.alt}}</td></tr>
            <tr><td>Next Rise</td><td>{{current_info.rise|default:"N/A"}}</td></tr>
            <tr><td>Next Set</td><td>{{current_info.set|default:"N/A"}}</td></tr>
        </table>
        {% else %}
        <p>Please <a href="{% url 'auth_login' %}">login</a> to view current observation details</p>
        {% endif %}
        <h4>General Info</h4>
        <p>as of {% now 'SHORT_DATETIME_FORMAT' %}</p>
        <table class="table">
            <tr><td>Type</td><td>{{ object.get_type_display|capfirst }}</td></tr>
            <tr><td>Right ascension</td><td>{{ object.general_info.ra }}</td></tr>
            <tr><td>Declination</td><td>{{ object.general_info.dec }}</td></tr>
            {% if object.general_info.magnitude %}
            <tr><td>Magnitude</td><td>{{ object.general_info.magnitude | floatformat:"-3" }}</td></tr>
            {% endif %}
            {% if object.general_info.phase %}
            <tr><td>% illuminated</td><td>{{ object.general_info.phase |floatformat:"-3" }}</td></tr>
            {% endif %}
            {% if object.general_info.earth_distance %}
            <tr><td>Distance from Earth</td><td>{{ object.general_info.earth_distance | floatformat:"-5" | intcomma }}AU</td></tr>
            {% endif %}
            {% if object.general_info.sun_distance %}
            <tr><td>Distance from Sun</td><td>{{ object.general_info.sun_distance | floatformat:"-5" | intcomma }}AU</td></tr>
            {% endif %}
            {% if object.general_info.elongation %}
            <tr><td>Elongation</td><td>{{ object.general_info.elongation }}</td></tr>
            {% endif %}
            {% if object.mass %}
            <tr><td>Mass</td><td>{{ object.mass|intcomma }} {{ object.mass_unit|mass_unicode|safe }}</td></tr>
            {% endif %}
            <tr>
            </tr>
            {% if object.description %}
            <tr><td colspan="2">{{ object.description | linebreaks }}</td></tr>
            {% endif %}
        </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="observations">
            {% include "objects/includes/observation_list.html" with observations=object.observations.all %}
        </div>
        <div role="tabpanel" class="tab-pane" id="finder">
            <h4>Generate a finder chart</h4>
            <div id="finder-form" class="col-md-3">
            <form action="{% url 'post-finderchart' %}" method="post">
                {% csrf_token %}
                {% bootstrap_form finder_chart_form %}
                {% buttons %}
                 <button class="btn btn-default" type="submit" name="submit" value="Post">Generate Chart</button>
                <input type="hidden" name="next" value="{% url 'solarsystemobject-detail' object.pk %}#tab_finder" />
                {% endbuttons %}
            </form>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="discussion">
            {% render_comment_list for object %}
            {% if user.is_authenticated %}
            {% get_comment_form for object as form %}
            <div id="comment-form-div">
              <form action="{% comment_form_target %}" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button class="btn btn-default" type="submit" name="submit" value="Post">Post</button>
                <input type="hidden" name="next" value="{% url 'solarsystemobject-detail' object.pk %}#tab_discussion" />
                {% endbuttons %}
              </form>
            </div>
            {% else %}
            <p> Please login to post comments</p>
            {% endif %}
        </div>
      </div>
    </div>
</div>

{% endblock %}
{% block extra_javascript %}
<script type="text/javascript">
// Javascript to enable link to tab
var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
}

// Change hash for page-reload
$('.nav-tabs a').on('shown', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});
$("#make-observation").click(function(){
    $(this).hide();
    $("#observation-form").slideDown();
});
</script>
{% endblock %}
